/* You can add global styles to this file, and also import other style files */

@layer vendor;

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css" layer(vendor);

@import "tailwindcss";


:root{
     --primary:#6CEAEA ; 
     --purple:#53098D ; 
     --hero-blue:#E9FCFC ; 
     --hero-purple:#ECE7F0 ; 
     --text-gray:#5C676B ; 
     --btn-blue:#23E0E0 ; 
}
